---
import "../../styles.css";
import assets from "../../assets.json";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import Sidebar from "../../components/Sidebar.astro";
import Head from "../../components/Head.astro";
import IndexTemplate from "../../templates/IndexTemplate.astro";

export async function getStaticPaths() {
  const paths = [];
  for (const [catKey, cat] of Object.entries(assets)) {
    paths.push({
      params: { category: catKey },
      props: {
        category: catKey,
      },
    });
  }
  return paths;
}

const { category } = Astro.props;
const cat = assets[category];
const title = cat.title_key
  ? cat.title_key.replace(/_/g, " ").replace(/\b\w/g, (l) => l.toUpperCase())
  : category.replace(/_/g, " ").replace(/\b\w/g, (l) => l.toUpperCase());

const items = cat.items.map((item) => ({
  href: `/${category}/${item.key}`,
  imgSrc: `/${item.file}`,
  imgAlt: item.key,
  title: item.key,
  buttonText: "Zobacz",
}));
---

<html lang="en" data-theme="light">
  <Head title={title} />
  <body
    class="font-sans text-base-content flex flex-col min-h-screen bg-base-200"
  >
    <Navbar />
    <div class="flex flex-col md:flex-row flex-1 w-full min-h-0">
      <Sidebar />
      <main class="flex-1 flex flex-col pt-0 bg-base-200 min-h-0">
        <IndexTemplate
          items={items}
          headerImgSrc={cat.header
            ? `/${cat.header.replace(/\.[^/.]+$/, "")}.png`
            : undefined}
          headerImgAlt={cat.header ? `${title} header` : undefined}
        />
      </main>
    </div>
    <Footer />
  </body>
</html>
