---
import "../../styles.css";
import assets from "../../assets.json";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const paths = [];
  for (const [catKey, cat] of Object.entries(assets)) {
    paths.push({
      params: { category: catKey },
      props: {
        category: catKey,
      },
    });
  }
  return paths;
}

const { category } = Astro.props;
const cat = assets[category];
const title = cat.title_key
  ? cat.title_key.replace(/_/g, " ").replace(/\b\w/g, (l) => l.toUpperCase())
  : category.replace(/_/g, " ").replace(/\b\w/g, (l) => l.toUpperCase());
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main class="flex-1 flex flex-col pt-32 bg-white">
      <h1 class="text-4xl font-bold text-center mb-10 text-primary">
        {title}
      </h1>
      <div class="container mx-auto px-4 flex-1 flex flex-col bg-white">
        <div class="mb-12">
          <div class="flex flex-wrap justify-center gap-6 bg-white">
            {
              cat.items.map((item) => (
                <div class="card w-60 bg-white shadow-xl transition-transform hover:scale-105">
                  <figure class="px-4 pt-4">
                    <a href={`/${cat.title_key ?? category}/${item.key}`}>
                      <img
                        src={`/${item.file}`}
                        alt={item.key}
                        class="max-w-[180px] max-h-[180px] object-contain rounded"
                      />
                    </a>
                  </figure>
                  <div class="card-body items-center text-center p-4">
                    <h3 class="card-title text-base font-medium">
                      {item.key
                        .replace(/_/g, " ")
                        .replace(/\b\w/g, (l) => l.toUpperCase())}
                    </h3>
                    <div class="card-actions">
                      <a
                        href={`/${cat.title_key ?? category}/${item.key}`}
                        class="btn btn-outline btn-primary btn-sm mt-2"
                      >
                        Zobacz
                      </a>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
