---
import BaseLayout from "../layouts/BaseLayout.astro";
import assets from "../assets.json";
import IndexTemplate from "../templates/IndexTemplate.astro";

/** @template T
 * @param {T[]} arr
 * @returns {T}
 */
function getRandomItem(arr) {
  return arr[Math.floor(Math.random() * arr.length)];
}

const items = Object.entries(assets).map(([objectKey, cat]) => {
  const randomItem = getRandomItem(cat.items);
  return {
    href: `/${objectKey}/`,
    imgSrc: `/${randomItem.file}`,
    imgAlt: randomItem.key,
    title: cat.title_key,
    buttonText: cat.title_key,
  };
});
---

<BaseLayout title="Wszystkie obrazki" bodyClass="bg-base-200">
  <main class="flex-1 flex flex-col pt-0 bg-base-200 min-h-0">
    <IndexTemplate
      items={items}
      headerImgSrc="/assets/header.webp"
      headerImgAlt="Zamaluj.pl header"
    />
  </main>
  <script is:inline>
    trackEvent();
  </script>
</BaseLayout>
